<div class="card card--blue">
	<h1 class="card__heading">Basic</h1>
	<div class="card__price-container">
		<div class="card__price">Free</div>
		<div class="card__billing-cycle">Up to 5 users for free</div>
	</div>
	<ul class="card__benefits">
		<li>Basic document collaboration</li>
		<li>2 GB storage</li>
		<li>Great security and support</li>
	</ul>
	<button class="btn btn--tertiary">Try for Free</button>
</div>

<div class="card card--white">
	<h1 class="card__heading">Basic</h1>
	<div class="card__price-container">
		<div class="card__price">Free</div>
		<div class="card__billing-cycle">Up to 5 users for free</div>
	</div>
	<ul class="card__benefits">
		<li>Basic document collaboration</li>
		<li>2 GB storage</li>
		<li>Great security and support</li>
	</ul>
	<button class="btn btn--secondary">Try for Free</button>
</div>
