<div class="coming-soon container">
	<div class="countdown">
		<h1 class="countdown__heading">coming <span id="date">4 Nov 2020</span></h1>
		<div class="countdown__container">
			<div class="countdown-box">
				<p class="numbers">47</p>
				<p class="time">days</p>
			</div>
			<div class="countdown-box">
				<p class="numbers">07</p>
				<p class="time">hours</p>
			</div>
			<div class="countdown-box">
				<p class="numbers">56</p>
				<p class="time">min</p>
			</div>
			<div class="countdown-box">
				<p class="numbers">14</p>
				<p class="time">sec</p>
			</div>
		</div>
	</div>
	<a href="#" class="btn btn--primary">Get Started</a>
</div>
