/**************** 
    VARIABLES
*****************/
:root {
    /* Colors */
    --blue:                  #5175ff;
    --light-blue:            #829cff;
    --btn-light-blue:        #e4eaff;
    --btn-darker-light-blue: #d3dcff;
    --grey:                  #747b95;
    --medium-grey:           #333950;
    --dark-grey:             #25293a;
    --red:                   #f05b5b;
}





/**************** 
RESET
*****************/
*,
*::before,
*::after {
box-sizing:  border-box;
margin:      0;
padding:     0;
}

html {
font-size: 62.5%;
}

h1, h2, h3, h4 {
margin: 0;
}

a {
text-decoration: none;
outline: none;
}

ul {
list-style: none;
}





/**************** 
MAIN
*****************/
body {
font-family:         'Kumbh Sans', sans-serif;
position:            relative;
overflow-x:          hidden;
background-color:    #fafafa;
height: min-content;
}

.site-wrapper {
position: relative;
overflow-x: hidden;
padding: 4.6rem 0 0 0;
}

.container {
max-width: 57.5rem;
margin: 0 auto;
}

@media screen and (min-width: 768px) {
.site-wrapper {
    padding: 7.2rem 0 0 0;
}

.container {
    max-width: 68.9rem;
}
}

@media screen and (min-width: 1440px) {
.site-wrapper {
    padding: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 71%  29%;
}

.container {
    max-width: 111rem;
    margin: 0 auto;
}
}




/**************** 
    BLOCKS
*****************/
.block {
padding:        0 2.4rem;
height:         min-content;
}

.block--dark {
height:              32rem;
padding:             4.6rem 2.4rem;
background-color:    var(--dark-grey);
margin-top:          89rem;
background-image:    url(../assets/sign-up/bg-pattern-side.svg);
background-position: top -42rem center;
background-repeat:   no-repeat;
background-size:     121rem;
position:            relative;
}

@media screen and (min-width: 768px) {
.block, .block--dark {
    padding: 0 3.9rem;
}

.block--dark {
    margin-top: 63.9rem;
    background-size: 144rem;
    background-position: top -52.7rem center;
    height: 38rem;
}
}

@media screen and (min-width: 1440px) {
    .block, .block--dark {
        padding: 0 16.5rem 0;
    }

    .block--dark {
        background-size: 203rem;
        background-position: -74.4rem -78.5rem;
        height: 100%;
        width: 42rem;
        position: relative;
        justify-self: right;
        margin: 0;
    }
}




/**************** 
LOGO + BG PATTERN
*****************/
.logo {
display:             flex;
justify-content:     center;
width:               100%;
}

.bg-pattern {
position:    absolute;
height:      45.8rem;
width:       45.8rem;
top:         6rem;  
left:        50%; 
transform:   translate(-50%, -50%);
z-index:     -10;
}

.bg-pattern__img {
width: 100%;
}

@media screen and (min-width: 768px) {
.logo {
    justify-content: start;
}

.bg-pattern {
    display: none;
    height:  66.6rem;
    width:   66.6rem;
    top:     17rem;
    left:    95%;
    right:   0;
}
}

@media screen and (min-width: 1440px) {
    .logo {
        padding-top: 8.2rem;
    }    
    .bg-pattern {
        height:  113.4rem;
        width:   113.4rem;
        top:     14rem;
        left:    85%;
        display: none;
    }
}





/**************** 
    CONTENT CONTAINER
*****************/
.content__container {
    text-align: center;
    margin-top: 7.6rem;
}

.content__heading {
    font-size: 4rem;
    color: var(--medium-grey);
}

.content__tagline {
    font-size: 1.6rem;
    color: var(--grey);
    margin: 1.9rem auto 0;
    line-height: 1.6;
    max-width: 57.3rem;
}

@media screen and (min-width: 768px) {
    .content__container {
        margin-top: 9.8rem;
    }

    .content__tagline {
        margin: 2.6rem auto 0;
    }
}

@media screen and (min-width: 1440px) {
    .content__container {
        text-align: left;
        margin-top: 14.8rem;
    }

    .content__heading {
        font-size: 5.5rem;
        max-width: 18ch;
        line-height: 1.16;
    }

    .content__tagline {
        margin: 2.5rem 0 0 0;
        font-size: 1.8rem;
    }
}


/**************** 
    COMING SOON
*****************/
.coming-soon {
text-align: center;
margin-top: 7.2rem;
}

.countdown {
text-align: center;
}

.countdown__heading {
text-transform:      uppercase;
font-size:           1.6rem;
letter-spacing:      5px;
font-weight:         700;
color:               var(--dark-grey);
}

.countdown__heading #date {
color: var(--blue);
}

.countdown__container {
display: flex;
gap: 1.3rem;
justify-content: center;
margin-top: 3.5rem;
}

.countdown-box {
align-items:         center;
background-color:    #e9edfa;
border-radius:       10px;
display:             flex;
flex-direction:      column;
gap:                 0.4rem;
height:              9.2rem;
justify-content:     center;
width:               7.2rem;
}

.numbers {
    color: var(--blue);
    font-size: 3.2rem;
    font-weight: 700;
}

.time {
    color: var(--grey);
    font-weight: 600;
    font-size: 1.2rem;
}

.coming-soon .btn {
margin: 4rem auto 0;
}

@media screen and (min-width: 768px) {
.coming-soon {
    margin-top: 5.5rem;
}
.countdown__heading {
    font-weight: 800;
}
.countdown__container {
    margin-top: 2.4rem;
}

.countdown-box {
    height: 12.8rem;
    width: 10rem;
}

.numbers {
    font-size: 5.6rem;
}

.time {
    font-size: 1.6rem;
    font-weight: 600;
}

.coming-soon .btn {
    margin-top: 4.6rem;
}
}

@media screen and (min-width: 1440px) {
.coming-soon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5.4rem;
}

.countdown {
    text-align: left;
}

.countdown__container {
    margin-top: 2.4rem;
}

.coming-soon .btn {
    margin: 0;
    position: relative;
    bottom: 0.6rem;
}
}






/**************** 
BUTTONS
*****************/
.btn {
border-radius:  30px;
border:         none;
cursor:         pointer;
display:        block;
font-family:    inherit;
font-size:      1.6rem;
font-weight:    700;
outline:        none;
padding:        1.8rem;
text-align:     center;
transition:     all 0.3s;
white-space:    nowrap;
width:          17.1rem;
min-width:      17.1rem;
}

.btn--primary {
background-color: var(--blue);
color: #fff;
}

.btn--primary:hover {
background-color: var(--light-blue);
}

.btn--secondary {
background-color: var(--btn-light-blue);
color: var(--blue);
}

.btn--secondary:hover {
background-color: var(--btn-darker-light-blue);
}

.btn--tertiary {
background-color:    #fff;
color:               var(--blue);
}

.btn--tertiary:hover {
color: var(--light-blue);
}

.btn--stretched {
width: 100%;
}

